### Data Importing & Preprocessing

In [1]:
import pandas as pd
salary= pd.read_csv(r"Salary_dataset.csv")
salary.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [2]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       30 non-null     int64
 1   YearsExperience  30 non-null     float64
 2   Salary           30 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 852.0 bytes

In [3]:
salary.describe()

       Unnamed: 0  YearsExperience         Salary
count   30.000000        30.000000      30.000000
mean    14.500000         5.413333   76004.000000
std      8.803408         2.837888   27414.429785
min      0.000000         1.200000   37732.000000
25%      7.250000         3.300000   56721.750000
50%     14.500000         4.800000   65238.000000
75%     21.750000         7.800000  100545.750000
max     29.000000        10.600000  122392.000000

In [4]:
salary.shape

(30, 3)

In [5]:
x=salary[['YearsExperience']]
x

    YearsExperience
0               1.2
1               1.4
2               1.6
3               2.1
4               2.3
5               3.0
6               3.1
7               3.3
8               3.3
9               3.8
10              4.0
11              4.1
12              4.1
13              4.2
14              4.6
15              5.0
16              5.2
17              5.4
18              6.0
19              6.1
20              6.9
21              7.2
22              8.0
23              8.3
24              8.8
25              9.1
26              9.6
27              9.7
28             10.4
29             10.6

In [6]:
y=salary['Salary']
y

0      39344.0
1      46206.0
2      37732.0
3      43526.0
4      39892.0
5      56643.0
6      60151.0
7      54446.0
8      64446.0
9      57190.0
10     63219.0
11     55795.0
12     56958.0
13     57082.0
14     61112.0
15     67939.0
16     66030.0
17     83089.0
18     81364.0
19     93941.0
20     91739.0
21     98274.0
22    101303.0
23    113813.0
24    109432.0
25    105583.0
26    116970.0
27    112636.0
28    122392.0
29    121873.0
Name: Salary, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.60 , random_state=0)

### Performing Linear Regression

In [8]:
from sklearn.linear_model import LinearRegression

# Representing LinearRegression as lr(Creating LinearRegression Object)
lr = LinearRegression()

# Fit the _model using lr.fit()
lr.fit(x_train, y_train)

LinearRegression()

In [9]:
# Print the intercept and coefficients
print(lr.intercept_)
print(lr.coef_)

25899.2602427921
[9407.35651165]

### Predictions

In [10]:
# Making predictions on the testing set
y_pred = lr.predict(x_test)
y_pred

array([ 40951.03066143, 123735.76796394,  65410.15759172,  63528.68628939,
       116209.88275462, 108683.9975453 , 117150.61840578,  64469.42194055,
        76698.98540569, 101158.11233598,  54121.32977774,  74817.51410337])

In [17]:
y_pred = lr.predict([[45]])
y_pred

C:\Users\Riya\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([449230.30326698])

In [11]:
#Actual v/s Predicted
df = pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
df

      Actual      Predicted
2    37732.0   40951.030661
28  122392.0  123735.767964
13   57082.0   65410.157592
10   63219.0   63528.686289
26  116970.0  116209.882755
24  109432.0  108683.997545
27  112636.0  117150.618406
11   55795.0   64469.421941
17   83089.0   76698.985406
22  101303.0  101158.112336
5    56643.0   54121.329778
16   66030.0   74817.514103

### Model Evaluation

In [12]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r_squared = r2_score(y_test, y_pred)
print('Mean_Squared_Error :' ,mse)
print('r_square_value :',r_squared)

Mean_Squared_Error : 25234929.186605293
r_square_value : 0.9679117063698978